.chat-widget-container {
  position: relative;
  width: 100%;
  max-width: 1150px; /* Ancho máximo del contenedor */
  height: 500px; /* Altura del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  overflow: hidden; /* Evita que el contenido sobrepase los límites */
}

/* Estilos adicionales para el widget */
.chat-widget-container .rcw-widget-container {
  position: absolute;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
  box-shadow: none !important; /* Opcional: Eliminar cualquier sombra predeterminada */
}

.react-chat-widget {
  height: 100% !important; /* Asegura que el widget ocupe toda la altura */
  width: 100% !important;  /* Asegura que el widget ocupe toda la anchura */

}

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  margin: 6px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.card h4 {
  margin: 0 0 4px 0;
  color: #333;
}

.card p {
  font-size: 14px;
  margin-bottom: 8px;
}

.card button {
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}


/* Responsivo */
@media (max-width: 768px) {
  .chat-widget-container {
    padding: 10px;
  }
  .rcw-widget-container {
    right: 10px !important;
    bottom: 10px !important;
  }

  .rcw-conversation-container {
    width: 95vw !important;
    height: 70vh !important;
  }
}
