/*agrego responsive dj*/
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {

}

.container{
  width: min(90%, 1000px);
  margin-inline: auto;
  height: auto;
}

.dark-background{
  background: #333;
  color: white;
  padding: max(3vh 1rem) 1.5rem;
  margin-bottom: max(5vh, 2rem);
}

body{
  /*font-size: var(--step-0)*/
}

h2{
  /*font-size: clamp(3rem, 10vw + 1rem, 5rem );*/
  font-size: clamp(--step-3 );
  line-height: 1;
}

h3{
  /*font-size: clamp(3rem, 10vw + 1rem, 5rem );*/
  font-size: clamp(--step-2);
}
